@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");












.menu-item-has-children>a,
.header__bar,
.header__two .header__bottom .area .search-area form,
.header__bottom .area .menu ul li {
    position: relative;
}






.header__bararea,
.header__two .header__top .header__toparea .info ul li,
.header__two .header__top .header__toparea .info ul,
.header__two .header__top .header__toparea,
.header__bottom .area .menu,
.header__bottom .area {
    display: flex;
    flex-wrap: wrap;
}

.header__bar,
.header__two .header__bottom .area .search-area form,
.header__bottom .area .menu ul li {
    position: relative;
}

.header__bar span,
.header__two .header__bottom .area .search-area form button {
    position: absolute;
    content: "";
}

.about {
    overflow: hidden;
}

.header__ellepsis i,
.header__bar {
    cursor: pointer;
}

.header__bar span,
.header__one,
input {
    width: 100%;
}

.header__two .header__top .header__toparea .info ul li .text p,
.header__two .header__top .header__toparea .info ul li .text span,
.header__bottom .area .menu ul li a {
    font-weight: 500;
}

.header__four .header__top--center .info ul li span {
    font-weight: 400;
}

.header__two .header__top .header__toparea,
.header__bottom .area .menu,
.header__bottom .area {
    justify-content: space-between;
}

.header__bararea,
.header__two .header__top .header__toparea .info ul li,
.header__two .header__top .header__toparea,
.header__bottom .area {
    align-items: center;
}

/* @@@@@@@@@@@@@  Extend Property CSS Writing Now  @@@@@@@@@@@@@@ */

.header__bottom .area .menu ul li ul li,
.header__bottom .area .menu ul li a {
    display: block;
}

.header__bar span,
.header__one .header__top .social li a,
.header__one .header__top .social li,
.header__one .header__top .info ul li,
.header__bottom .area .menu ul li {
    display: inline-block;
}

/* @@@@@@@@@@@@@  Extend Property CSS Writing Now  @@@@@@@@@@@@@@ */
.header__two .header__bottom .area .search-area form button {
    border: none;
}

.header__one .header__top .social li a,
.header__bottom .area .menu ul li a {
    text-transform: capitalize;
}

/* @@@@@@@@@@@@@  Extend Property CSS Writing Now  @@@@@@@@@@@@@@ */
.header__four .header__bottom .area .menu ul li:hover>a,
.header__two .header__bottom .area .search-area form button,
.header__two .header__bottom .area .search-area form input,
.header__one .header__top .social li a,
.header__one .header__top .info ul li,
.header__bottom .area .menu ul li ul li a,
.header__bottom .area .menu ul li a {
    color: #fff;
}

.header__four .header__top--center .info ul li span,
.header__two .header__top .header__toparea .info ul li .text p {
    color: #021738;
}

ul li {
    list-style: none;
}

/* @@@@@@@@@@@@@  Extend Property Margin 10 - 30 CSS Writing Now  @@@@@@@@@@@@@@ */
ul {
    margin: 0;
}

.header__two .header__top .header__toparea .info ul li .text p {
    margin-bottom: 0px;
    font-size: 14px;
}

.header__two .header__top .header__toparea .info ul li .text p {
    margin-bottom: 0px;
}

.header__bar {
    margin-left: 30px;
}

/* @@@@@@@@@@@@@  Extend Property padding 10 - 30 CSS Writing Now  @@@@@@@@@@@@@@ */
ul {
    padding: 0;
}

.header__two .header__top .header__toparea .info ul li,
.header__one .header__top .social li a {
    padding: 10px;
    margin-left: 20px;
    white-space: nowrap;
}

input {
    padding: 15px;
}

.header__two .header__top .header__toparea .info ul li .text {
    padding-left: 10px;
    line-height: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: auto !important;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

button,
input {
    color: #555555;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
}

p {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
}

a {
    color: #021738;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
}

a:visited {
    outline: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a:focus {
    outline: thin dotted;
    outline: none;
}

a:hover,
a:active {
    outline: 0;
}

img {
    height: auto;
    max-width: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
}

/* @@@@@@@@@@@@@  Global CSS  @@@@@@@@@@@@@@ */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px !important;
    }
}

/*======= Background Image ==========*/

/*============ Custom File Upload =============*/

@keyframes preloader-fx {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

@-webkit-keyframes preloader-fx {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes price-ani {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0.1;
    }
}



/* *****========= All Keyframes  ===============****** */
@keyframes angle-move {

    0%,
    100% {
        transform: translateY(0) rotate(-6deg);
    }

    50% {
        transform: translateY(-20px) rotate(8deg);
    }
}

@keyframes up-down {

    0%,
    100% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0);
    }
}

@keyframes zoom {

    0%,
    100% {
        transform: scale(0.9) rotate(0deg);
    }

    50% {
        transform: scale(1.1) rotate(30deg);
    }

    80% {
        transform: rotate(-30deg);
    }
}

@keyframes rotate {

    0%,
    100% {
        transform: rotate(10deg) translate(10px, 15px);
    }

    50% {
        transform: rotate(240deg) translate(0, 0);
    }
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes ripple {
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes rotate-2 {
    100% {
        transform: rotate(150deg);
    }
}

/*================*** Header Section Start Here     ***===================*/
.header.header-fixed.header__one {
    background-color: #021738;
}

.header.header-fixed.header__one .header__top {
    display: none;
}

.header.header-fixed.header__two .header__bottom {
    position: static;
    top: 0;
    z-index: 99;
    width: 100%;
}

@media (min-width: 1200px) {
    .header.header-fixed.header__two .header__bottom {
        position: fixed;
        width: 100%;
    }
}

.header__bottom {
    padding: 0px;
}

@media (max-width: 575px) {
    .header__bottom .area .logo {
        max-width: 140px;
    }
}

@media (max-width: 1199px) {
    .header__bottom .area .menu {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        background-color: #021738;
        z-index: 9999;
        padding-bottom: 30px;
    }

    .header__bottom .area .menu.active {
        display: inherit;
        padding: 0px;
    }
}

@media (max-width: 1199px) {
    .header__bottom .area .menu ul li {
        display: block;
    }
}

@media (min-width: 1200px) {
    .header__bottom .area .menu ul li:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
        transform: translateY(0);
        animation: slideDown1 0.35s ease-in-out;
    }

    @keyframes slideDown1 {
        from {
            transform: translateY(-3%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.header__bottom .area .menu ul li a {
    padding: 18px 25px;
    font-size: 15px;
}



.header__bottom .area .menu ul li ul {
    background-color: #0a31ad;
}

@media (max-width: 1199px) {
    .header__bottom .area .menu ul li ul {
        display: none;
    }
}

@media (min-width: 1200px) {
    .header__bottom .area .menu ul li ul {
        position: absolute;
        width: 275px;
        top: calc(100% + 30px);
        left: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        opacity: 0;
        z-index: 999;
        box-shadow: 0 0 3px rgba(255, 49, 71, 0.1);
        visibility: hidden;
        border-radius: 0px 0px 3px 3px;
    }

}

.header__bottom .area .menu ul li ul li:last-child>a {
    border: none;
}

.header__bottom .area .menu ul li ul li a {
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    border-bottom: dashed 1px #2848ad;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

.header__bottom .area .menu ul li ul li a:hover,
.header__bottom .area .menu ul li ul li a.active {
    background-color: #021738;
    color: #ffffff;
    padding-left: 22px;
}

.header__bottom .area .menu ul li ul li a:hover::after,
.header__bottom .area .menu ul li ul li a:hover::before,
.header__bottom .area .menu ul li ul li a.active::after,
.header__bottom .area .menu ul li ul li a.active::before {
    background-color: #ffffff;
}

@media (min-width: 1200px) {
    .header__bottom .area .menu ul li ul li ul {
        left: 100%;
        top: 0 !important;
        border-radius: 0px 0px 3px 3px;
    }
}

.header__one {
    top: 0;
    left: 0;
    background-color: #021738;
    z-index: 9;
    position: relative;
}

@media (min-width: 1200px) {
    .header__one {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.header__one .header__top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 1199px) {
    .header__one .header__top {
        display: none;
    }
}

@media (max-width: 1199px) {
    .header__one .header__top .info {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}

@media (max-width: 1199px) {
    .header__one .header__top .info ul {
        text-align: center;
    }
}

.header__one .header__top .info ul li {
    padding: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;
    align-items: center;
    display: flex;
}

@media (max-width: 1199px) {
    .header__one .header__top .info ul li:first-child {
        border-left: none;
    }
}

@media (max-width: 575px) {
    .header__one .header__top .info ul li {
        border: none;
    }
}

@media (max-width: 1199px) {
    .header__one .header__top .social {
        text-align: center;
    }
}

.header__one .header__top .social li a {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;
}

@media (max-width: 1199px) {
    .header__one .header__top .social li:first-child a {
        border-left: 1px solid rgba(255, 255, 255, 0.1);
    }
}

@media (max-width: 1199px) {
    .header__two {
        position: relative;
    }
}

.header__two .header__top {
    padding-block: 16px;
}

@media (max-width: 1199px) {
    .header__two .header__top {
        display: none;
        background-color: #fff;
    }
}

.header__two .header__top .header__toparea .info ul li .thumb {
    width: 35px;
}

.header__two .header__top .header__toparea .info ul li .text {
    width: calc(100% - 35px);
}

.header__two .header__bottom {
    background-color: #021738;
    padding: 0px;
}

@media (max-width: 575px) {
    .header__two .header__bottom .area .search-area form {
        width: 200px;
    }
}

.header__two .header__bottom .area .search-area form input {
    padding-block: 12px;
}

.header__two .header__bottom .area .search-area form input::placeholder {
    color: rgba(255, 255, 255, 0.9);
}

.header__two .header__bottom .area .search-area form button {
    top: 50%;
    right: 15px;
    background-color: transparent;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (min-width: 1200px) {
    .header__four {
        position: static;
    }
}

.header__four .header__top {
    background-color: #021738;
    padding-block: 0;
}

.header__four .header__top--center {
    background-color: #fff;
    padding: 13px 10px;
}

.header__four .header__top--center .info ul li .text {
    text-align: left;
}

.header__four .header__bottom {
    background-color: #002fb1;
}

.header__four .header__bottom .area .menu ul li:hover>a::after,
.header__four .header__bottom .area .menu ul li:hover>a::before {
    background-color: #fff;
}

.header__bar {
    width: 25px;
    height: 20px;
}

.header__bar span {
    height: 3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #fff;
    left: 0;
}

.header__bar span:first-child {
    top: 0;
}

.header__bar span:nth-child(2) {
    top: 52%;
    transform: translateY(-65%);
}

.header__bar span:last-child {
    bottom: 0;
}

.header__bar.active span:first-child {
    -webkit-transform: rotate(45deg) translate(3px, 9px);
    -ms-transform: rotate(45deg) translate(3px, 9px);
    transform: rotate(45deg) translate(3px, 9px);
}

.header__bar.active span:nth-child(2) {
    opacity: 0;
}

.header__bar.active span:last-child {
    -webkit-transform: rotate(-45deg) translate(3px, -9px);
    -ms-transform: rotate(-45deg) translate(3px, -9px);
    transform: rotate(-45deg) translate(3px, -9px);
}

@media (max-width: 575px) {
    .header__bar {
        width: 25px;
        height: 20px;
    }

    .header__bar span {
        height: 3px;
        width: 25px;
    }

    .header__bar.active span:first-child {
        -webkit-transform: rotate(45deg) translate(6px, 8px);
        -ms-transform: rotate(45deg) translate(6px, 8px);
        transform: rotate(45deg) translate(6px, 8px);
    }

    .header__bar.active span:nth-child(2) {
        opacity: 0;
    }

    .header__bar.active span:last-child {
        -webkit-transform: rotate(-45deg) translate(4px, -6px);
        -ms-transform: rotate(-45deg) translate(4px, -6px);
        transform: rotate(-45deg) translate(4px, -6px);
    }
}

.header__ellepsis {
    font-size: 20px;
    margin-left: 25px;
}

.header__ellepsis i {
    color: #fff;
}






.menu-item-has-children>a::before {
    position: absolute;
    content: "";
}

.menu-item-has-children>a::after {
    position: absolute;
    content: "";
}


.menu-item-has-children>a::after {
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    width: 10px;
    height: 2px;
    background-color: #fff;
}

.menu-item-has-children>a::before {
    top: 50%;
    transform: translateY(-50%);
    right: 29px;
    width: 2px;
    height: 10px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header__bottom .area .menu ul li ul li.menu-item-has-children a::before {
    right: 24px;
}

.header__bottom .area .menu ul li ul li.menu-item-has-children a::after {
    right: 20px;
}

@media (min-width: 1200px) {
    .menu-item-has-children>a::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        width: 10px;
        height: 2px;
        background-color: #fff;
    }

    .menu-item-has-children>a::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
        width: 2px;
        height: 10px;
        background-color: #fff;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}

@media (min-width: 1200px) {
    .menu-item-has-children:hover>a:before {
        transform: translate(-50%, -50%) rotate(90deg);
        opacity: 0;
    }
}

@media (max-width: 1199px) {
    .menu-item-has-children.open>a:before {
        transform: translate(-50%, -50%) rotate(90deg);
        opacity: 0;
    }
}


.sticky1 {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    transform: translateY(0);
    animation: slideDown 0.95s ease-in-out;
    box-shadow: 0 10px 15px -10px rgba(25, 25, 25, 0.2);
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width: 991px) {
    .header__four .header__bottom {
        padding: 15px 0px;
    }

    .header__bottom .area .menu ul li a {
        padding: 12px 25px;
    }

    .header__bottom .area .menu.active {
        padding-bottom: 30px;
        z-index: 999;
    }
}




/*================*** Header Section End Here     ***===================*/